name: 00 - YAML Lint & Check

on:
  push:
    branches: [ "main" ]
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  yamllint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install yamllint
        run: pip install yamllint

      - name: Run yamllint on GitHub workflows
        run: yamllint .github/workflows/*.yml

      - name: Run yamllint on Kubernetes manifests
        run: yamllint k8s/*.yaml || echo "No YAML found"

      - name: Run yamllint on Terraform YAML (if any)
        run: yamllint terraform/*.yaml || echo "No YAML found"
